<h1>简历详细信息 </h1>

<div> 姓名: {{ resume.username }} </div> <div>城市： {{ resume.city }}</div> <div>手机号码: {{ resume.phone }}</div>

<p></p>
<div>邮件地址: {{ resume.email}}</div>
<div>申请职位: {{ resume.apply_position}}</div>
<div>出生地: {{ resume.born_address}}</div>
<div>性别: {{ resume.gender}}</div>
<hr>

<div>本科学校: {{ resume.bachelor_school}}</div>
<div>研究所学校: {{ resume.master_school}}</div>
<div>专业: {{ resume.major}}</div>
<div>学历: {{ resume.degree}}</div>
<hr>

<p>候选人介绍: {{ resume.candidate_introduction}}</p>
<p>工作经历: {{ resume.work_experience}}</p>
<p>项目经历: {{ resume.project_experience}}</p>
